#error-page {
  background-image: linear-gradient(
    to top bottom,
    rgba($color-grey-dark, 0.5),
    rgba($color-black, 0.5),
    );
    text-align: center;
    color: $color-primary-light;
    font-size: 5rem;
    border: solid 5px $color-primary-light;
    width: 60%;
    margin: auto;
    
    i {
      color: red;
    }
}