.login {
  background-color: $color-primary-light;
  border: 2px $color-white;
  height: 71.5vh;  
  width: 99%; 
  text-align: center;  
  margin: auto;
  transform: translateY(.3rem);
  animation: turnOn 3s linear;

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
    animation: turnOn 3s linear;
    margin-top: 17rem;    
  }  
}

.login_btn {
  background-color: $color-primary-dark;  
  box-shadow: 0px 0px 2.7px rgba($color-primary-light, 0.251),
  0px 0px 6.9px rgba($color-primary-light, 0.359),
  0px 0px 14.2px rgba($color-primary-light, 0.451),
  0px 0px 29.2px rgba($color-primary-light, 0.559),
  0px 0px 80px rgba($color-primary-light, 0.81);

  p {
    color: $color-white;
  }  
}