.user {
  background-color: $color-white;
  height: 71.5vh;
  width: 99%;
  margin: auto;
  transform: translateY(.3rem);

  &__profile {
    text-align: center;    
    img {
      height: 20rem;      
      clip-path: circle(35% at 50% 50%);      
    }
    &__name {
      font-size: 3rem;
    }
  }
}
