.inputs {
  width: 70%;
  line-height: 28px;
  border: 3px solid transparent;
  border-bottom-color: $color-white;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: $color-white;
  font-size: 2rem;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  
  &:focus, &:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: $color-primary-dark;
  }

  &:focus {
    &::placeholder {      
      opacity: 0;
      transition: opacity .3s;
    }
  }  

  &::placeholder {
    text-align: center;
    color: $color-white;
    font-size: 3rem;
  }
}