.mobile {
  max-width: 50rem;
  height: 75rem;
  background-color: $color-grey-dark;
  position: relative;
  top: 2%;
  border: solid 10px $color-black;
  border-radius: 1rem;
  margin: auto;  
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);

  &__buttom {
    width: 8rem;
    height: 8rem;
    display: block;
    position: absolute;
    bottom: -5rem;
    left: 20rem;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    z-index: 1;

    &__text {      
      display: inline-block;
      margin-top: 30%;
      font-size: 1.5rem;
      padding: .5rem;      
    }
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-dark;
    }
  }
  
    &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -10rem;
    right: -1rem;
    border-radius: 0 0 5rem 5rem;
    width: 104.1%;
    height: 20%;
    position: absolute;
    background-color: $color-black;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  }
}
